<section class="bg-amarelo">
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <img src="../img/logo-gico.png" class="responsive-img">
            </div>
        </div>
    </div>
    <div class="container container-iniciar">
        <div class="row">
            <div class="col s12">
                <div class="card-panel" align="center">
                    <buttton class="btn green darken-2 btn-iniciar">iniciar prova</buttton>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-audios audio-display-none">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 1</h5>
                        </div>
                    </div>
                    <div class="row audio-1">
                        <div class="col s4">
                            <audio controls id="audio-1">
                                <source src="../audios/carlosgomes.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_1" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-1">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 2</h5>
                        </div>
                    </div>
                    <div class="row audio-2 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-2">
                                <source src="../audios/claudiaraia.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_2" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-2">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 3</h5>
                        </div>
                    </div>
                    <div class="row audio-3 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-3">
                                <source src="../audios/faustao.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_3" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-3">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 4</h5>
                        </div>
                    </div>
                    <div class="row audio-4 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-4">
                                <source src="../audios/jonasdonizete.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_4" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-4">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 5</h5>
                        </div>
                    </div>
                    <div class="row audio-5 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-5">
                                <source src="../audios/juniorlima.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_5" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-5">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 6</h5>
                        </div>
                    </div>
                    <div class="row audio-6 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-6">
                                <source src="../audios/luciano.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_6" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-6">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 7</h5>
                        </div>
                    </div>
                    <div class="row audio-7 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-7">
                                <source src="../audios/luisfabiano.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_7" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-7">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 8</h5>
                        </div>
                    </div>
                    <div class="row audio-8 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-8">
                                <source src="../audios/mariliagabriela.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_8" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-8">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 9</h5>
                        </div>
                    </div>
                    <div class="row audio-9 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-9">
                                <source src="../audios/ricardotozzi.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_9" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-9">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>audio 10</h5>
                        </div>
                    </div>
                    <div class="row audio-10 audio-display-none">
                        <div class="col s4">
                            <audio controls id="audio-10">
                                <source src="../audios/sandy.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <form>
                            <div class="input-field col s6">
                                <input id="input_audio_10" type="text">
                                <label for="last_name">Nome</label>
                            </div>
                            <div class="col s2">
                                <button class="btn green darken-2 btn-audio-10">enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container container-final audio-display-none">
        <div class="row">
            <div class="col s12">
                <div class="card-panel center">
                    <h1>Prova finalizada!</h1>
                </div>
            </div>
        </div>
        <div class="row btn-ver-resultado audio-display-none">
            <div class="col s12">
                <div class="card-panel center">
                    <button class="btn blue darken-2 btn-resultado">ver resultado</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container container-resultado audio-display-none">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Resposta correta</th>
                                <th>Sua resposta</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="tr-audio-1">
                                <td>Carlos Gomes</td>
                                <td class="td-audio-1">Eclair</td>
                            </tr>
                            <tr class="tr-audio-2">
                                <td>Claudia Raia</td>
                                <td class="td-audio-2">Eclair</td>
                            </tr>
                            <tr class="tr-audio-3">
                                <td>Faustao</td>
                                <td class="td-audio-3">Eclair</td>
                            </tr>
                            <tr class="tr-audio-4">
                                <td>Jonas Donizete</td>
                                <td class="td-audio-4">Eclair</td>
                            </tr>
                            <tr class="tr-audio-5">
                                <td>Junior Lima</td>
                                <td class="td-audio-5">Eclair</td>
                            </tr>
                            <tr class="tr-audio-6">
                                <td>Luciano</td>
                                <td class="td-audio-6">Eclair</td>
                            </tr>
                            <tr class="tr-audio-7">
                                <td>Luis Fabiano</td>
                                <td class="td-audio-7">Eclair</td>
                            </tr>
                            <tr class="tr-audio-8">
                                <td>Marilia Gabriela</td>
                                <td class="td-audio-8">Eclair</td>
                            </tr>
                            <tr class="tr-audio-9">
                                <td>Ricardo Tozzi</td>
                                <td class="td-audio-9">Eclair</td>
                            </tr class="td-audio-9">
                            <tr class="tr-audio-10">
                                <td>Sandy</td>
                                <td class="td-audio-10">Eclair</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        var audio_1 = document.getElementById("audio-1");
        var audio_2 = document.getElementById("audio-2");
        var audio_3 = document.getElementById("audio-3");
        var audio_4 = document.getElementById("audio-4");
        var audio_5 = document.getElementById("audio-5");
        var audio_6 = document.getElementById("audio-6");
        var audio_7 = document.getElementById("audio-7");
        var audio_8 = document.getElementById("audio-8");
        var audio_9 = document.getElementById("audio-9");
        var audio_10 = document.getElementById("audio-10");
        $('.btn-iniciar').click(function () {
            var s = 601;

            $('.btn-audio-1').click(function() { s = 540});
            $('.btn-audio-2').click(function() { s = 480});
            $('.btn-audio-3').click(function() { s = 420});
            $('.btn-audio-4').click(function() { s = 360});
            $('.btn-audio-5').click(function() { s = 300});
            $('.btn-audio-6').click(function() { s = 240});
            $('.btn-audio-7').click(function() { s = 180});
            $('.btn-audio-8').click(function() { s = 120});
            $('.btn-audio-9').click(function() { s = 60});
            $('.btn-audio-10').click(function() {
                s = 0
                setTimeout(function() {
                    $('.container-final').addClass('audio-display-none');
                    $('.btn-ver-resultado').removeClass('audio-display-none');
                }, 10000);
            });

            $('.btn-resultado').click(function() {
                $('.btn-ver-resultado').addClass('audio-display-none');
                $('.container-resultado').removeClass('audio-display-none');

                if (respostas[0] == 'carlos gomes') {
                    $('.tr-audio-1').addClass('green');
                    $('.td-audio-1').html(respostas[0]);
                } else {
                    $('.tr-audio-1').addClass('red');
                    $('.td-audio-1').html(respostas[0]);
                }

                if (respostas[1] == 'claudia raia') {
                    $('.tr-audio-2').addClass('green');
                    $('.td-audio-2').html(respostas[1]);
                } else {
                    $('.tr-audio-2').addClass('red');
                    $('.td-audio-2').html(respostas[1]);
                }

                if (respostas[2] == 'faustao') {
                    $('.tr-audio-3').addClass('green');
                    $('.td-audio-3').html(respostas[2]);
                } else {
                    $('.tr-audio-3').addClass('red');
                    $('.td-audio-3').html(respostas[2]);
                }

                if (respostas[3] == 'jonas donizete') {
                    $('.tr-audio-4').addClass('green');
                    $('.td-audio-4').html(respostas[3]);
                } else {
                    $('.tr-audio-4').addClass('red');
                    $('.td-audio-4').html(respostas[3]);
                }

                if (respostas[4] == 'junior lima') {
                    $('.tr-audio-5').addClass('green');
                    $('.td-audio-5').html(respostas[4]);
                } else {
                    $('.tr-audio-5').addClass('red');
                    $('.td-audio-5').html(respostas[4]);
                }

                if (respostas[5] == 'luciano') {
                    $('.tr-audio-6').addClass('green');
                    $('.td-audio-6').html(respostas[5]);
                } else {
                    $('.tr-audio-6').addClass('red');
                    $('.td-audio-6').html(respostas[5]);
                }

                if (respostas[6] == 'luis fabiano') {
                    $('.tr-audio-7').addClass('green');
                    $('.td-audio-7').html(respostas[6]);
                } else {
                    $('.tr-audio-7').addClass('red');
                    $('.td-audio-7').html(respostas[6]);
                }

                if (respostas[7] == 'marilia gabriela') {
                    $('.tr-audio-8').addClass('green');
                    $('.td-audio-8').html(respostas[7]);
                } else {
                    $('.tr-audio-8').addClass('red');
                    $('.td-audio-8').html(respostas[7]);
                }

                if (respostas[8] == 'ricardo tozzi') {
                    $('.tr-audio-9').addClass('green');
                    $('.td-audio-9').html(respostas[8]);
                } else {
                    $('.tr-audio-9').addClass('red');
                    $('.td-audio-9').html(respostas[8]);
                }

                if (respostas[9] == 'sandy') {
                    $('.tr-audio-10').addClass('green');
                    $('.td-audio-10').html(respostas[9]);
                } else {
                    $('.tr-audio-10').addClass('red');
                    $('.td-audio-10').html(respostas[9]);
                }
            });

            setInterval(function() {
                s--;
                console.log(s);
                if (s <= 601) {
                    $('.container-iniciar').addClass('audio-display-none');
                    $('.container-audios').removeClass('audio-display-none');
                }
                if (s <= 540) {
                    $('.audio-1').addClass('audio-display-none');
                    audio_1.pause();
                    $('.audio-2').removeClass('audio-display-none');
                }
                if (s <= 480) {
                    $('.audio-2').addClass('audio-display-none');
                    audio_2.pause();
                    $('.audio-3').removeClass('audio-display-none');
                }
                if (s <= 420) {
                    $('.audio-3').addClass('audio-display-none');
                    audio_3.pause();
                    $('.audio-4').removeClass('audio-display-none');
                }
                if (s <= 360) {
                    $('.audio-4').addClass('audio-display-none');
                    audio_4.pause();
                    $('.audio-5').removeClass('audio-display-none');
                }
                if (s <= 300) {
                    $('.audio-5').addClass('audio-display-none');
                    audio_5.pause();
                    $('.audio-6').removeClass('audio-display-none');
                }
                if (s <= 240) {
                    $('.audio-6').addClass('audio-display-none');
                    audio_6.pause();
                    $('.audio-7').removeClass('audio-display-none');
                }
                if (s <= 180) {
                    $('.audio-7').addClass('audio-display-none');
                    audio_7.pause();
                    $('.audio-8').removeClass('audio-display-none');
                }
                if (s <= 120) {
                    $('.audio-8').addClass('audio-display-none');
                    audio_8.pause();
                    $('.audio-9').removeClass('audio-display-none');
                }
                if (s <= 60) {
                    $('.audio-9').addClass('audio-display-none');
                    audio_9.pause();
                    $('.audio-10').removeClass('audio-display-none');
                }
                if (s <= 0) {
                    $('.container-audios').addClass('audio-display-none');
                    audio_10.pause();
                    $('.container-final').removeClass('audio-display-none');
                }

            }, 1000);

            var respostas = [];

            $('.btn-audio-1').click(function() {
                var audio_1 = $('#input_audio_1').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'carlos gomes';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-2').click(function() {
                var audio_1 = $('#input_audio_2').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'claudia raia';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-3').click(function() {
                var audio_1 = $('#input_audio_3').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'faustao';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-4').click(function() {
                var audio_1 = $('#input_audio_4').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'jonas donizete';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-5').click(function() {
                var audio_1 = $('#input_audio_5').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'junior lima';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-6').click(function() {
                var audio_1 = $('#input_audio_6').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'luciano';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-7').click(function() {
                var audio_1 = $('#input_audio_7').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'luis fabiano';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-8').click(function() {
                var audio_1 = $('#input_audio_8').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'marilia gabriela';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-9').click(function() {
                var audio_1 = $('#input_audio_9').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'ricardo tozzi';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });

            $('.btn-audio-10').click(function() {
                var audio_1 = $('#input_audio_10').val().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/['~";:]/g,'').toLowerCase();
                var name = 'sandy';
                if (audio_1 == name) {
                    respostas.push(audio_1);
                } else {
                    respostas.push(audio_1);
                }
                console.log(respostas);
            });
        });
    });
</script>